<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826129469306-p31k6e42t3bc9652mubt8sk84h9ccs16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826129469306-p31k6e42t3bc9652mubt8sk84h9ccs16</string>
	<key>API_KEY</key>
	<string>AIzaSyAhmp6HCgJD-eivIIZ5z6v71UO_eqUtkXA</string>
	<key>GCM_SENDER_ID</key>
	<string>826129469306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quickscope.QuickscopeMVP</string>
	<key>PROJECT_ID</key>
	<string>quickscopemvp</string>
	<key>STORAGE_BUCKET</key>
	<string>quickscopemvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826129469306:ios:14ff525f5a9e19b1</string>
	<key>DATABASE_URL</key>
	<string>https://quickscopemvp.firebaseio.com</string>
</dict>
</plist>